@use "sass:list";
@use "sass:string";

$styles: ();

@mixin rule() {
  $name: string.slice(#{&}, 2);
  $styles: list.append($styles, $name) !global;

  &-desktop { @content; }
  & {  @content;  }
}

@mixin mobile-rule() {
  &-mobile {
    @include tablet-portrait { @content; }
  }

  & {
    @include tablet-portrait { @content; }
  }
}

%body {
  @include rule {
    font-size: rem(10);
    font-stretch: normal;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: none;
  }

  @include mobile-rule {
    font-size: rem(12);
    line-height: 1.2;
  }
}

%button {
  @include rule {
    font-size: rem(96);
    font-stretch: normal;
    font-variation-settings: 'wght' 800, 'wdth' 0, 'ital' 1;
    letter-spacing: 0.02em;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

%header-tab {
  @include rule {
    font-size: rem(14);
    font-stretch: normal;
    font-variation-settings: 'wght' 500, 'wdth' 65, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: normal;
  }
}

%button-cost {
  @include rule {
    font-size: rem(10);
    font-stretch: normal;
    font-variation-settings: 'wght' 700, 'wdth' 65, 'ital' 100;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%button-cost-unit {
  @include rule {
    font-size: rem(10);
    font-stretch: normal;
    font-variation-settings: 'wght' 220, 'wdth' 40;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%button-action {
  @include rule {
    font-size: rem(10);
    font-stretch: normal;
    font-variation-settings: 'wght' 700, 'wdth' 65;
    letter-spacing: -0.02em;
    line-height: 108%;
  }
}

%button-variant-action {
  @include rule {
    font-size: rem(10);
    font-stretch: normal;
    font-variation-settings: 'wght' 400, 'wdth' 20;
    letter-spacing: 0.02em;
    line-height: 108%;
    white-space: nowrap;
  }
}

%count {
  @include rule {
    font-size: rem(72);
    font-stretch: normal;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

%count-item {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-variation-settings: 'wght' 600, 'wdth' 40;
    letter-spacing: 0.04em;
    line-height: 1.08;
  }
}

%label-light {
  @include rule {
    font-size: rem(24);
    font-stretch: normal;
    font-variation-settings: 'wght' 400, 'wdth' 0, 'ital' 0;
    letter-spacing: -0.04em;
    line-height: 1.08;
    color: var(--fill-20);
  }
}

%count-production {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-style: italic;
    font-variation-settings: 'wght' 200, 'wdth'20, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%number2 {
  @include rule {
    font-size: rem(56);
    font-stretch: normal;
    font-variation-settings: 'wght' 800, 'wdth' 20, 'ital' 100;
    letter-spacing: 0.02em;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

$action2-font-size: rem(64);

%action2 {
  @include rule {
    font-size: $action2-font-size;
    font-stretch: normal;
    font-variation-settings: 'wght' 800, 'wdth' 0, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: 1.08;
    text-transform: uppercase;
    color: var(--fill-20);
    background: var(--buy-button);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

%button-text {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-variation-settings: 'wght' 700, 'wdth' 0, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%button-sub {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-variation-settings: 'wght' 220, 'wdth' 0, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

%button-subtext {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-variation-settings: 'wght' 500, 'wdth' 0, 'ital' 0;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%complex-perf-value {
  @include rule {
    font-size: rem(24);
    font-stretch: normal;
    font-variation-settings: "wght" 700, "wdth" 65, "ital" 100;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%cost-value {
  @include rule {
    font-size: rem(12);
    font-stretch: normal;
    font-variation-settings: "wght" 700, "wdth" 60, "ital" 100;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%cost-unit {
  @include rule {
    font-size: rem(12);
    font-stretch: normal;
    font-variation-settings: "wght" 400, "wdth" 60, "ital" 100;
    letter-spacing: -0.02em;
    line-height: 1.08;
  }
}

%title-uppercase {
  @include rule {
    font-size: rem(16);
    font-variation-settings: "wght" 400, "wdth" 0;
    text-transform: uppercase;
    color: var(--fill-40);
  }
}
%subtitle-uppercase {
  @include rule {
    color: var(--fill-60);
    font-family: "PP Formula";
    font-size: rem(10);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: rem(12);
  }
}

%basic-hover {
  @include rule {
    transition: all 0.1s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

%basic-hover-left {
  @include rule {
    transition: all 0.1s ease;

    &:hover {
      transform: translateX(-2px);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

%basic-hover-right {
  @include rule {
    transition: all 0.1s ease;

    &:hover {
      transform: translateX(2px);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

%card-title {
  @include rule {
    font-size: rem(16);
    font-stretch: normal;
    font-variation-settings: "wght" 640, "wdth" 60;
    letter-spacing: -0.04em;
    line-height: 1.16;
  }
}

%card-text {
  @include rule {
    font-size: rem(14);
    font-stretch: normal;
    font-variation-settings: "wght" 200, "wdth" 0;
    letter-spacing: 0.04em;
    line-height: 1.16;
  }
}

%shop-title {
  @include rule {
    font-size: rem(14);
    font-stretch: normal;
    font-variation-settings: "wght" 600, "wdth" 100;
    line-height: 1.08;
  }
}

%shop-card-effect {
  @include rule {
    font-size: rem(14);
    font-stretch: normal;
    font-variation-settings: "wght" 400, "wdth" 0;
    line-height: 1.08;
    letter-spacing: -0.02em;
  }
}

%shop-card-unit-effect {
  @include rule {
    font-size: rem(12);
    font-stretch: normal;
    font-variation-settings: "wght" 500, "wdth" 0, "ital" 100;
    line-height: 1.08;
    letter-spacing: -0.02em;
  }
}
