/* stylelint-disable color-no-hex */
/* stylelint-disable custom-property-empty-line-before */

$width-reference: 1512;
$width-reference-m: 393;
$rem-reference: 1px;

@mixin variables {
  /* UNITS */
  --vw: 100vw;
  --vh: 100vh;
  --ivh: 100vh;
  --rem: 1px;

  /* COLORS */
  --color-black: #0A0A0A;
  --color-grey: #717171;
  --color-light-green: #D5E9E7;
  --color-divider: #E6E6E6;;
  --color-white: #F5F5F5;
  --color-overlay: rgb(245 245 245 / 80%);
  --color-hover: #666666;
  --color-disabled: #c2c2c2;

  --skin-0: #191310;
  --skin-10: #393232;
  --skin-20: #57524E;
  --skin-60: #99918C;
  --skin-100: #D1CECC;
  --noir-bleute: #0F1426;
  --blanc: #F0F5F5;
  --vert-transparent: #2c7b5a10;
  --purple-fill-40: #6B6B94;
  --purple-fill-20: #07074E;
  --purple-fill-10: #060635;
  --purple-transparent-24: rgba(28, 28, 66, 0.24);
  --translucent-24: linear-gradient(0deg, var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 0%, var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 100%), linear-gradient(287deg, rgba(0, 2, 119, 0.00) -5.89%, rgba(145, 180, 116, 0.12) 47.54%, rgba(165, 179, 144, 0.14) 65.24%, rgba(210, 177, 206, 0.18) 74.25%, rgba(224, 217, 226, 0.22) 82.57%, rgba(232, 240, 238, 0.24) 100.96%);

  /* SHORTCUTS */
  --color-main: var(--color-black);
  --color-background: var(--color-white);

  /* GAP */
  --gap-s: #{rem(8)};
  --gap: #{rem(10)};

  /* GRID */
  --grid-margin: #{rem(16)};
  --grid-gutter: #{rem(16)};
  --grid-column: #{computeGridColumn(13, true)};

  /* SIZES */
  --border-size: #{rem(.5)};
  --border-radius: #{rem(3)};
  --inner-border-radius: #{rem(1)};
  --viewport-inset: var(--grid-gutter);

  /* HEADER */
  --header-height: #{rem(100)};

  /* SIZES */
  --width-reference: #{$width-reference};

  @include tablet-portrait {
    /* SIZES */
    --width-reference: #{$width-reference-m};

    /* GRID */
    --grid-margin: #{rem(20)};
    --grid-gutter: #{rem(10)};
    --grid-column: #{computeGridColumn(8, true)};
  }
}

/* EXPORT */
/* stylelint-disable */
:export {
  widthReference: $width-reference;
  widthReferenceM: $width-reference-m;
}
