/* stylelint-disable color-no-hex */
/* stylelint-disable custom-property-empty-line-before */

$width-reference: 1512;
$width-reference-m: 393;
$rem-reference: 1px;

@mixin variables {
  /* UNITS */
  --vw: 100vw;
  --vh: 100vh;
  --ivh: 100vh;
  --rem: 1px;

  /* COLORS */
  --color-black: #0a0a0a;
  --color-grey: #717171;
  --color-light-green: #D5E9E7;
  --color-divider: #E6E6E6;;
  --color-white: #ffffff;
  --color-overlay: rgb(245 245 245 / 80%);
  --color-hover: #666666;
  --color-disabled: #c2c2c2;

  --skin-0: #191310;
  --skin-10: #393232;
  --skin-20: #57524e;
  --skin-60: #99918c;
  --skin-100: #d1cecc;

  --fill-10-0: #250635;
  --fill-20-0: #36074e;
  --fill-30-0: #4b285d;
  --fill-40-0: #614d6b;
  --fill-60-0: #a792b1;
  --fill-100-0: #ffffff;

  --fill-10-100: #edfdf5;
  --fill-20-100: #ddf7eb;
  --fill-30-100: #a2d7be;
  --fill-40-100: #88aa9a;
  --fill-60-100: #627a6e;
  --fill-100-100: #040706;

  --transparent-dark-8-0: #25063508;
  --transparent-dark-16-0: #25063514;
  --transparent-dark-24-0: #2506351e;

  --transparent-dark-8-100: #bfe4d308;
  --transparent-dark-16-100: #bfe4d314;
  --transparent-dark-24-100: #bfe4d31e;

  --noir-bleute: #0f1426;
  --blanc: #f0f5f5;
  --noir-bleute: #0F1426;
  --color-dark-8: rgba(37, 6, 53, 0.08);
  --blanc: #F0F5F5;
  --vert-transparent: #2c7b5a10;
  --fill-20: #36074E;
  --purple-fill-60: #A792B1;
  --purple-fill-40: #6B6B94;
  --purple-fill-20: #07074E;
  --purple-fill-10: #060635;
  --purple-transparent-24: rgba(28, 28, 66, 0.24);
  --translucent-24:
    linear-gradient(
      0deg,
      var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 0%,
      var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 100%
    ),
    linear-gradient(
      287deg,
      rgba(0, 2, 119, 0) -5.89%,
      rgba(145, 180, 116, 0.12) 47.54%,
      rgba(165, 179, 144, 0.14) 65.24%,
      rgba(210, 177, 206, 0.18) 74.25%,
      rgba(224, 217, 226, 0.22) 82.57%,
      rgba(232, 240, 238, 0.24) 100.96%
    );
  --transparent-dark-8: rgba(37, 6, 53, 0.08);
  --transparent-dark-16: rgba(37, 6, 53, 0.16);
  --translucent-24: linear-gradient(0deg, var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 0%, var(--purple-transparent-24, rgba(28, 28, 66, 0.24)) 100%), linear-gradient(287deg, rgba(0, 2, 119, 0.00) -5.89%, rgba(145, 180, 116, 0.12) 47.54%, rgba(165, 179, 144, 0.14) 65.24%, rgba(210, 177, 206, 0.18) 74.25%, rgba(224, 217, 226, 0.22) 82.57%, rgba(232, 240, 238, 0.24) 100.96%);

  /* GRADIENTS */
  --gradient-border:linear-gradient(287deg, rgba(142, 16, 205, 0) -5.89%, rgba(134, 22, 190, 0.58) 30.42%, rgba(140, 42, 190, 0.75) 49.99%, rgba(225, 181, 247, 0.90) 77.66%, rgba(111, 18, 158, 1) 100.96%), rgba(255, 255, 255, 0.6);
  --gradient-white: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 40%, rgba(255, 255, 255, 0.40) 50%, rgba(255, 255, 255, 0.40) 55%, rgba(255, 255, 255, 0.00) 70%);
  --gradient-40: linear-gradient(287deg, rgba(249, 243, 252, 0.60) -5.89%, rgba(229, 204, 241, 0.60) 30.42%, rgba(221, 192, 236, 0.60) 49.99%, rgba(240, 222, 249, 0.60) 77.66%, rgba(202, 166, 219, 0.60) 100.96%), rgba(255, 255, 255, 0.60);
  --gradient-hover: linear-gradient(287deg, #F9F3FC -5.89%, #E5CCF1 30.42%, #DDC0EC 49.99%, #F0DEF9 77.66%, #CAA6DB 100.96%), rgba(255, 255, 255, 0.60);
  --gradient-button: linear-gradient(0deg, rgba(252, 252, 254, 0.64) 0%, rgba(252, 252, 254, 0.64) 100%), linear-gradient(287deg, rgba(0, 0, 119, 0.00) -5.89%, rgba(116, 116, 180, 0.30) 47.54%, rgba(144, 144, 179, 0.35) 65.24%, rgba(210, 177, 206, 0.45) 74.25%, rgba(224, 217, 226, 0.54) 82.57%, rgba(232, 240, 238, 0.60) 100.96%);
  --gradient-button-hover: linear-gradient(281deg, rgba(142, 16, 205, 0.00) -181.04%, rgba(134, 22, 190, 0.09) -85.22%, rgba(140, 42, 190, 0.12) -33.54%, rgba(225, 181, 247, 0.15) 39.5%, rgba(111, 18, 158, 0.16) 100.98%), linear-gradient(0deg, rgba(252, 252, 254, 0.64) 0%, rgba(252, 252, 254, 0.64) 100%), linear-gradient(288deg, rgba(0, 0, 119, 0.00) -38.78%, rgba(116, 116, 180, 0.50) 18.42%, rgba(144, 144, 179, 0.58) 37.37%, rgba(210, 177, 206, 0.75) 47.01%, rgba(224, 217, 226, 0.91) 55.92%, #E8F0EE 75.61%);
  --gradient-button-inactive: linear-gradient(0deg, rgba(252, 252, 254, 0.64) 0%, rgba(252, 252, 254, 0.64) 100%), linear-gradient(287deg, rgba(0, 0, 119, 0.00) -5.89%, rgba(116, 116, 180, 0.30) 47.54%, rgba(144, 144, 179, 0.35) 65.24%, rgba(210, 177, 206, 0.45) 74.25%, rgba(224, 217, 226, 0.54) 82.57%, rgba(232, 240, 238, 0.60) 100.96%);


  /* SHORTCUTS */
  --color-main: var(--color-black);
  --color-background: var(--color-white);

  /* GAP */
  --gap-s: #{rem(8)};
  --gap: #{rem(10)};

  /* GRID */
  --grid-margin: #{rem(16)};
  --grid-gutter: #{rem(16)};
  --grid-column: #{computeGridColumn(13, true)};

  /* SIZES */
  --border-size: #{rem(.5)};
  --border-radius: #{rem(8)};
  --border-radius-xl: #{rem(100)};
  --inner-border-radius: #{rem(1)};
  --viewport-inset: var(--grid-gutter);

  /* HEADER */
  --header-height: #{rem(245)};

  /* SIZES */
  --width-reference: #{$width-reference};

  @include tablet-portrait {
    /* SIZES */
    --width-reference: #{$width-reference-m};

    /* GRID */
    --grid-margin: #{rem(20)};
    --grid-gutter: #{rem(10)};
    --grid-column: #{computeGridColumn(8, true)};
  }
}

/* EXPORT */
/* stylelint-disable */
:export {
  widthReference: $width-reference;
  widthReferenceM: $width-reference-m;
}
