.wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  color: var(--fill-20);
  backdrop-filter: blur(10px);
  padding: rem(12) rem(18);
  border-radius: rem(12);
}

.subTitle {
  @include apply(subtitle-uppercase);
  margin: 0;
}

.name {
  font-size: rem(14);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-variation-settings: "wght" 400;
  margin: 0;
}

.description {
  font-size: rem(12);
  letter-spacing: -0.24px;
  font-variation-settings:
    "wght" 240,
    "wdth" 24,
    "ital" 0;
  margin: 0;
  max-width: 300px;
  color: var(--fill-40);
}

.effects {
  display: flex;
  gap: rem(12);
  font-size: rem(12);
  margin: 0;
  color: var(--fill-30);

  &Value {
    margin: 0;
    font-weight: 700;
  }
}

.choices {
  display: flex;
  gap: rem(12);

  button {
    font-variation-settings:
      "wght" 700,
      "wdth" 20,
      "ital" 0;
    text-transform: uppercase;
    padding: rem(8) rem(12);

    &:hover {
      @include apply(basic-hover);
      cursor: pointer;
    }

    color: var(--fill-30);

    &:first-child {
      color: var(--fill-40);
    }
  }
}
