.rabbitHp {
  display: inline-flex;
  align-items: center;
  padding: rem(6) rem(9) rem(7) rem(8);
  height: rem(28);
  background: url("/img/rabbit/hp_background.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.rabbitHpCard {
  display: inline-flex;
  align-items: center;
  padding: rem(4) rem(8);
  gap: rem(2);
  border-radius: rem(8);
  background: var(--transparent-dark-16-100);
  backdrop-filter: blur(rem(8));
  height: rem(32);
}

.hpWire {
  position: absolute;
  z-index: -100;
  left: 30%;
  top: rem(20);
}
