.wrapper {
  border-radius: rem(8);
  width: 100%;
  min-width: 200px;
}

.title {
  font-size: rem(14);
  font-variation-settings: "wght" 640, "wdth" 48;
  text-transform: uppercase;
  color: var(--purple-fill-20);
  text-align: left;
}

.description {
  font-size: rem(12);
  font-variation-settings: "wght" 300, "wdth" 48;
  margin: rem(4) 0 rem(12) 0;
  color: var(--purple-fill-40);
  text-align: left;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(12);
}

.count {
  font-size: rem(20);
  font-variation-settings: "wght" 600, "wdth" 40;
  color: var(--purple-fill-20);
}

.button {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--gradient-button);
  border: 1px solid var(--transparent-dark-8);
  border-radius: var(--border-radius);
  color: var(--purple-fill-20);
  backdrop-filter: blur(16px);

  transition: all 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: rem(7);
    background: var(--gradient-button-hover);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
  }

  &:not(.inactive) {
    &:hover {
      border-color: var(--transparent-dark-16);

      &::before {
          opacity: 1;
      }
    }
  }

  &.inactive {
    border: 1px solid var(--transparent-dark-8);
    background: var(--gradient-button-inactive);
    color: var(--fill-20);
    opacity: 0.4;
  }
}

.costContainer {
  display: flex;
  align-items: center;
  padding: rem(8) rem(12);
}

.cost {
  @include apply(button-cost);
  height: min-content;
}

.unit {
  @include apply(button-cost-unit);
  height: min-content;
  text-transform: lowercase;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: rem(8) rem(12);
  border-left: rem(1) solid var(--transparent-dark-8);
}

.action {
  position: relative;
  @include apply(button-action);
  padding: rem(12);
  text-transform: uppercase;
}
