.wrapper {
  border-radius: rem(8);
  width: 100%;
  min-width: 200px;
}

.title {
  font-size: rem(14);
  font-variation-settings: "wght" 640, "wdth" 48;
  text-transform: uppercase;
  color: var(--fill-20);
  text-align: left;
}

.description {
  font-size: rem(12);
  font-variation-settings: "wght" 300, "wdth" 48;
  color: var(--fill-40);
  margin: 0;
  text-align: left;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(4);
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  gap: rem(4);
}

.unitByTime {
  @include apply(card-text);
  text-transform: uppercase;
}

.count {
  @include apply(count-item);
  color: var(--fill-20);
}

.button {
  margin-top: rem(12);
}

.costContainer {
  display: flex;
  align-items: center;
  padding: rem(8) rem(12);
}

.cost {
  @include apply(button-cost);
  height: min-content;
}

.unit {
  @include apply(button-cost-unit);
  height: min-content;
  text-transform: lowercase;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: rem(8) rem(12);
  border-left: rem(1) solid var(--transparent-dark-8);
}

.action {
  position: relative;
  @include apply(button-action);
  padding: rem(12);
  text-transform: uppercase;
}
