.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(32);
  width: grid(3, 0);
  max-width: rem(220);
}

.disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.stepWrapper {
  display: flex;
}

.stepCounter {
  display: flex;
  flex-direction: column;
}

.production {
  @include apply(count-production);
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  & .line {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
  }

  & .title {
    text-transform: uppercase;
  }

  & .count {
    color: red;
  }
}
