.ruler {
  position: fixed !important;
  z-index: -999999 !important;
  display: inline!important;
  display: block !important;
  width: auto !important;
  height: auto!important;
  padding: 0!important;
  margin: 0!important;
  font-size: 100px !important;
  line-height: 1!important;
  pointer-events: none !important;
  visibility: hidden !important;
  white-space: nowrap !important;
}

.wrapper {
  display: block;
  width: 100%;
  line-height: 1;
  white-space: nowrap;

  &.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
