.autoSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);
}

.switchTrack {
  width: rem(40);
  height: rem(20);
  background-color: var(--skin-100);
  border-radius: 999px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.switchTrack.on {
  background-color: var(--fill-20);
}

.switchThumb {
  width: rem(16);
  height: rem(16);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: rem(2);
  left: rem(2);
  transition: left 0.3s ease;
}

.switchTrack.on .switchThumb {
  left: rem(22);
}

.switchLabel {
  width: rem(80);
  text-align: center;
  font-size: rem(10);
  color: var(--fill-20);
  font-variation-settings: "wght" 700, "wdth" 60;
  letter-spacing:0cap;
  text-transform: none;
}
