
.wrapper {
  position: relative;
  z-index: 1;
  min-height: var(--ivh);
  overflow: hidden;

  &.loading {
    background-color: hotpink;
  }
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pauseButton {
  position: absolute;
  top: rem(20);
  right: rem(20);
  border: 1px solid hotpink;
  padding: rem(4);

  &.paused {
    background-color: rgb(255, 0, 0);
    color: white;
  }
}

.gameLayout {
  display: flex;
  margin-top: 15%;
}

@include tablet-portrait {
  .wrapper {
    width: grid(6);
    border-color: blue;
  }
}
