.wrapper {
  position: absolute;
  z-index: 100;
  top: calc(var(--ivh) - (rem(15) + rem(34)) );
  left: 0;
  width: 100%;
}

.motionWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.wrapperMainShop {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: '. . shop . .';
  padding: rem(18) var(--grid-margin);
  gap: var(--grid-gutter);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: blue;
    transform: translateY(calc(var(--translateYValue)));
  }

  & > :nth-child(n+6) {
    display: none;
  }
}

.container {
  position: relative;
  width: 100%;
}

.first-purchase {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: '. . shop . .';
  gap: var(--grid-gutter);
}

.firstPurchaseItem {
  grid-area: shop;
}

.title {
  @include apply(shop-title);
  color: var(--fill-20);
  margin: 0 auto;
  text-transform: uppercase;
}
