.title {
  @include apply(shop-title);
  position: absolute;
  // z-index: 1;
  bottom: rem(32);
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}


.wrapper {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: rem(24) var(--grid-margin) var(--grid-margin);
  overflow-y: auto;
  scrollbar-width: none;
  gap: var(--gap);

  // background-color: rgba(255, 105, 180, 0.301);
}
