.motionWrapper {
  position: absolute;
  z-index: 100;
  top: calc(var(--ivh) - (rem(15) + rem(34)) );
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;

  // background-color: red;
}

.wrapper {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: rem(24) var(--grid-margin) var(--grid-margin);
  overflow-y: auto;
  scrollbar-width: none;
  gap: var(--grid-gutter);

  // background-color: rgba(255, 105, 180, 0.301);
}

.wrapperMainShop {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: rem(18) var(--grid-margin) calc(var(--grid-margin) + var(--extraBottom, 0px));
  // overflow-x: scroll;
  // scrollbar-width: none;
  gap: var(--grid-gutter);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    transform: translateY(calc(var(--translateYValue)));
  }

  & > :nth-child(n+6) {
    display: none;
  }
}

.container {
  position: relative;
  width: 100%;
}

.first-purchase {
  justify-content: center;
}

.title {
  @include apply(shop-title);
  color: var(--fill-20);
  margin: 0 auto;
  text-transform: uppercase;
}
