:root {
  @include variables;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0;
}

sup {
  line-height: 0;
}


html {
  position: relative;
  overflow: visible;
  height: 100%;
  min-height: 100%;
  font-family: $main-font;
  font-size: var(--rem);
  overscroll-behavior-x: none;
  user-select: none;

  &.dark-mode {
    @include darkMode;
  }

  &.no-desktop.no-scroll {
    &, body {
      overflow: hidden;
      height: var(--vh);
      touch-action: none;
    }
  }

  &.desktop.no-scroll {
    body {
      overflow: hidden;
      height: var(--vh);
    }
  }
}

.scrolling-element {
  overflow: hidden scroll;
  overscroll-behavior-y: none;

  &.safari.desktop  {
    overscroll-behavior-y: auto;
  }
}

body {
  position: relative;
  max-width: 100%;
  min-height: 100%;
  background: var(--color-background);
  color: var(--color-main);
  font-size: rem(16);

  @include tablet-portrait {
    font-size: rem(14);
  }
}

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-rendering: optimizelegibility;
  text-rendering: geometricprecision;
  -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  br { margin: 0 !important; }
}

button, a {
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

button {
  margin-top: 0;
  margin-bottom: 0;
}

input, button, a {
  &:focus, &:active {
    outline: none;
  }
}

[role='button'] {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

img {
  display: block;
  user-select: none;
}

button, input[type='submit'] {
  display: block;
  padding: 0;
  border: none;
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

button, input, textarea {
  border-radius: 0;
  appearance: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit
}


.hidden {
  position: fixed;
  left: -100vh;
  pointer-events: none;
  visibility: hidden;
}

/* stylelint-disable import-notation */
#__next {
  height: 100%;
}

@import 'fonts/fonts.scss';
