.wrapper {
	@include apply(action2);
	user-select: none;
	margin: 0 auto;
	user-select: none;
	cursor: pointer;
}

.disabled {
	color: var(--color-disabled);
	cursor: not-allowed;
}

.endColor {
	color:var(--skin-60);
	position: absolute;
}
