.wrapper {
	user-select: none;
	margin: 0 auto;
	user-select: none;
	cursor: pointer;
	@include apply(basic-hover);
}

.disabled {
	color: var(--color-disabled);
	cursor: not-allowed;
}

.colorContainer {
	position: relative;

	.startColor {
		@include apply(action2);
	}

	.endColor {
		font-size: rem(56);
		font-stretch: normal;
		font-variation-settings: 'wght' 800, 'wdth' 0, 'ital' 0;
		letter-spacing: -1.2px;
		line-height: 1.08;
		text-transform: uppercase;
		color:var(--skin-100);
		position: absolute;
		top: 0;
	}
}
