@font-face {
  font-family: $main-fontname;
  src: url(../../fonts/PPFormulaVariable.woff2) format('woff2'),
      url(../../fonts/PPFormulaVariable.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
