.rabbitSlider {
  --mask-padding: 24px;

  position: relative;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(10);
  background: none;

  &Content {
    overflow: hidden;
    height: 100%;
  }

  &Button {
    height: fit-content;
    width: fit-content;
    z-index: -100;

    &Left {
      margin-right: rem(-8);

      &:hover {
        @include apply(basic-hover-left);
      }
    }

    &Right {
      margin-left: rem(-8);

      &:hover {
        @include apply(basic-hover-right);
      }
    }
  }

  &Start {
    margin-top: rem(12);
  }

  .sliderBackground {
    $card-width: grid(3, 1);
    aspect-ratio: 800 / 360;
    width: $card-width;
    height: 100%;
    background-color: var(--transparent-dark-50-0);
    border-radius: rem(8);
    padding: rem(24) rem(28);
    background: url("/img/rabbit/slider_background.png");
    background-size: cover;
  }
}

.controlPanel {
  position: relative;
  z-index: 100;
  margin-top: rem(-48);
}
