.wrapper {
  min-width: rem(450);
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  overflow: visible;
  justify-self: flex-end;
}

.divider {
  width: 100%;
  height: 1px;
  border: 0 !important;
  background: linear-gradient(90deg, rgba(107, 107, 148, 0.00) 0%, rgba(107, 107, 148, 0.24) 100%);
  margin: rem(24) 0;
}

.name {
  color: var(--fill-20);
  text-align: start;
  font-size: rem(15);
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  text-align: end;
  width: 100%;
  padding: 0.25rem 0;
}

.rabbitBlur {
  z-index: 1000;
  width: 100%;
  -webkit-user-drag: none;
}
