.rabbit {
  position: relative;
  margin-bottom: rem(-32);
  margin-top: rem(-16);

  &Description {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease-in-out;
  }

  &:not(.disabled) {
    .rabbitDescription {
      &:hover {
        transform: translateX(-50%) scale(1.025);
      }
    }
  }

  &Tooltip {
    color: var(--color-black);
    mix-blend-mode: soft-light;
    font-family: "PP Formula";
    font-size: rem(10);
    font-style: normal;
    font-weight: 700;

    &NotEnoughMoney {
      text-wrap: nowrap;
      font-size: rem(12);
      opacity: 0.5;
    }
  }
}

.rabbit {
  &HpWrapper {
    position: absolute;
    top: rem(22);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
