.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  @include apply(number2);
  font-size: rem(48);
  font-variation-settings: "wght" 400, "wdth" 20;
  letter-spacing: -0.96px;
  color: var(--purple-transparent-24);
}

.title {
  @include apply(label-light);
  font-variation-settings: 'wght' 500, 'wdth' 0, 'ital' 0;
  text-transform: lowercase;
}
