.wrapper {
  position: relative;
  @include apply(action2);
  @include apply(basic-hover);
  // filter: brightness(0.8);
  user-select: none;
  overflow: hidden;
  @include shiny-button;

  &:hover {
    &::after {
      animation: shiny 0.7s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    }
  }

  .swoosh {
    @include apply(swoosh);
  }
}

.disabled {
  opacity: 0.75;
  pointer-events: none;
}
