.wrapper {
  @include apply(action2);
  user-select: none;
  margin: 0 auto;
  position: relative;
  color: var(--color-divider);
}

.mask,
.mask__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.mask__wrapper {
  height: 0;
  color: var(--color-black);
}

.disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}
