.gridHelper {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: grid;
  width: var(--vw);
  height: 100vh;
  padding: 0 var(--grid-margin);
  gap: var(--grid-gutter);
  grid-template-columns: repeat(13, 1fr);
  opacity: 0;
  pointer-events: none;
}

.gridHelperCol {
  background: red;
  opacity: 0.1;
}

.visible {
  opacity: 1;
}

@include tablet-portrait {
  .gridHelper {
    grid-template-columns: repeat(8, 1fr);
  }

  .gridHelperCol:nth-child(n + 9) {
    display: none;
  }
}
