.wrapper {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-bottom: -4px;
  width: grid(1.5);
  transition: box-shadow 0.2s ease-in-out;
  will-change: box-shadow;
  font-size: rem(10);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 800;
  user-select: none;

  &:focus, &:hover {
		@include apply(basic-hover);
  }

  &:disabled {
    &,
    .btnLeft {
      border-color: rgba(99, 99, 99, 0.5) !important;
    }
  }

  &Left,
  &Right {
    cursor: pointer;
    padding: rem(14) rem(12) rem(12) rem(12);
    width: 100%;
    text-align: center;
  }

  &Left {
    border-right: rem(1) solid black;
  }

  .background {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 100%;
    background: url("/img/rabbit/button_background.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
