.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &Information {
    display: flex;
    flex-direction: column;
    gap: rem(6);

    .deadRabbitLogo {
      margin: auto;
      width: rem(30);
      height: rem(30);
    }
  }

  &Title {
    color:  rgba(237, 253, 245, 1);
    font-family: "PP Formula";
    font-size: rem(12);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &Header {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &Description {
    color: rgba(136, 170, 154, 1);
    font-size: rem(12);
    font-style: normal;
    line-height: 148%;
    margin: 0;
    font-variation-settings: "wght" 220, "wdth" 20;
  }

  .valuesContainer {
    display: flex;
    justify-content: space-between;
  }

  &Values {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);

    &Title {
      color: rgba(136, 170, 154, 1);
      font-family: "PP Formula";
      font-size: rem(12);
      text-transform: uppercase;
      margin-bottom: rem(4);
      font-variation-settings: "wght" 400, "wdth" 10;
    }

    &Label {
      color: rgba(221, 247, 235, 1);
      font-variant-numeric: lining-nums tabular-nums;
      font-family: "PP Formula";
      font-size: rem(14);
      font-variation-settings: "wght" 500, "wdth" 20;
    }
  }

  &Hp {
    height: rem(20);
  }
}

.cardDead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

    .cardTitle {
      width: 100%;
      text-align: center;
    }

    .cardValuesItem {
      display: flex;
      gap: rem(10);

      .cardValuesTitle {
        font-size: rem(14);
        margin: 0;
      }
    }
}
