.feedback {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  padding: rem(4);
  border-radius: 8px;
  font-size: rem(10);
  font-weight: 500;
  color: var(--purple-fill-20);
  z-index: 1000;
  opacity: 0;
  white-space: nowrap;
  animation: slideFadeInOut 1.5s ease-out forwards;
}

@keyframes slideFadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(8px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(8px);
  }
}
