.btn {
  display: flex;
  width: max-content;
  font-size: rem(10);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 800;
  border: rem(1) solid black;
  background:
    linear-gradient(0deg, rgba(1, 4, 3, 0.8) 0%, rgba(1, 4, 3, 0.8) 100%),
    linear-gradient(
      287deg,
      rgba(0, 119, 63, 0) -5.89%,
      rgba(116, 180, 150, 0.3) 47.54%,
      rgba(144, 179, 162, 0.35) 65.24%,
      rgba(177, 210, 195, 0.45) 74.25%,
      rgba(217, 226, 222, 0.54) 82.57%,
      rgba(232, 240, 236, 0.6) 100.96%
    );
  backdrop-filter: blur(16px);
  border-radius: rem(8);

  &Left,
  &Right {
    cursor: pointer;
    padding: rem(8) rem(12);
  }

  &Left {
    border-right: rem(1) solid black;
  }
}
