.wrapper {
  width: grid(13, 2);

  .pricesContainer {
    display: flex;
    justify-content: space-between;
    width: grid(13, 0);
    padding-top: var(--grid-margin);
    margin: 0 auto var(--grid-margin);
  }

  .prices {
    display: flex;
    gap: grid(0, 3);
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(2);

    .title {
      @include apply(title-uppercase);
    }

    .count {
      @include apply(label-light);
    }
  }
}

.benefits {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(14px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.money {
  color: rgba(209, 147, 240, 0.40);
  font-variation-settings: "wdth" 65, "wght" 500;
  font-variant-numeric: lining-nums tabular-nums;
  letter-spacing: -0.09em;
  line-height: 108%;
  text-align: justify;
  padding: 0 calc(var(--grid-margin) / 2);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: rgba(209, 147, 240, 0.24);
}

