.wrapper {
  width: grid(13, 2);
  height: var(--header-height);

  .content {
    height: 100%;
  }

  .pricesContainer {
    display: flex;
    justify-content: space-between;
    width: grid(13, 0);
    padding-top: var(--grid-margin);
    margin: 0 auto var(--grid-margin);
  }

  .prices {
    display: flex;
    gap: grid(0, 3);
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(2);

    .title {
      @include apply(title-uppercase);
    }

    .count {
      @include apply(label-light);
    }
  }
}

.benefits {
  position: relative;
}

.money {
  color: rgb(209, 147, 240);
  font-variation-settings: "wdth" 65, "wght" 500;
  font-variant-numeric: lining-nums tabular-nums;
  letter-spacing: -0.09em;
  line-height: 108%;
  text-align: justify;
  padding: 0 calc(var(--grid-margin) / 2);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-clip: text;
  filter: blur(10px);
  mask: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}

.base {
  mask: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.25) 100%);
}
