.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: rem(300);
  height: rem(300);
  padding: rem(20);
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%) scale(.75);
}

.inProgress {
  color: var(--fill-40);
  text-align: center;
  width: 100%;
  font-family: "PP Formula";
  font-size: rem(10);
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;

  &Container {
    text-align: center;
    margin: 0;
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(16);
  }
}
